@{
     Layout = null;
}

<form enctype="multipart/form-data" asp-action="AddNewTag" asp-controller="Admin"  method="post">
<input name ="Name" type="text" value="Name" />
<input type="submit" value="Добавить"  />
</form>